*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(216, 216, 216);
  background-color:
  font-weight: 800;
}

body {
  background-color: rgb(2, 1, 5);
  height: 100vh; rgb(2, 1, 5);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#token-score {
  margin-top: 10px;
  padding: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

select {
  width: 25%;
  height: 100%;
  padding: 10px;
  border: none;
background-color: rgba(64, 45, 106, 0.753);
  font-size: 2rem;
  cursor: pointer;
}

option {
  font-size: 1.5rem;
}

#restart {
  width: 30%;
  padding: 20px;
background-color: rgba(64, 45, 106, 0.753);
  border-radius: 7px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.show-win-message{
  font-size: 3.5rem;
  width: 70%;
  height: 50%;
  position: absolute;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(107, 4, 4, 0.121);
  border-radius: 2px;
  padding: 20px;
}



#grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  max-width: 600px;
  margin-top: 30px;
}

.block {
  height: 100px;
  width: 100px;
  margin: 10px;
  font-size: 5rem;
  background-color: rgba(64, 45, 106, 0.753);
  border-radius: 7px;
  border: none;
}

button:hover {
  cursor: pointer;
  transform: scale(1.2);
  background-color: rgba(43, 26, 80, 0.365);
}
